
.poem, .side-info, .comment-form, .canvas-form {
@include mobile_div(2.5vh);
}

.comment-form {
  @media #{$media_large} {
    width: 50%;
    margin-right: 0;
  }
}

.canvas-form {
  @media #{$media_large} {
    width: 50%;
    float: left;
  }
}

.frame {
  @include mobile_div(0vh);

  @media #{$media_medium} {
    width: 75%;
    float: left;
  }
}

@media #{$media_medium} {
  .poem {
    width: 20%;
    float: right;
  }
}

.poet-form {
	position: relative;

  @media #{$media_large} {
    position: static;
    width: 50%;
    float: right;
  }
}
