.nav {
   background: $color-main-light;
    @include row;
  

    & a:first-of-type {
      @include span-columns(2, $display: inline);
    }

    &:hover .dropdown {
      display: block;
    }
    @media  #{$media_medium} {
      & {
        display: block;
      }

    }

  }


  .dropdown {
    @media (min-width: 1em) {
      & {
        display: none;
      }
    }
    a {
      text-decoration: none;
      color: $color-text-light;
      @include span-columns(3, $display: inline);
    }


    span.fa {
    font-size: 2em;
    color: $color-text-light;
    }



    // a {
    //   @include span-columns(2, $display: inline);
    //   @include shift($n-columns: 3 / 5);
    // }
  }
