@mixin header_footer {
  width: $width-mobile;
  height: 300px;
  background: $color-main;
  border-radius: $radius;
  text-align: center;
  font-size: 2.5em;
  color: $color-text-light;
  border: $color-main-border;
}

@mixin mobile_div($margin-top) {
  @include fill-parent;
  margin: $margin-top auto;
  border-radius: $radius;
}

@mixin mobile_content_elem($display: block) {
  display: $display;
  font-size: 1.9rem;
  width: 80%;
  margin: 0 auto 0;
  text-align: center;
}

@mixin input($bg-color: $color-link-active, $color: $color-text-dark, $height: 8em) {
  margin: 0 auto 0;
  background-color: $bg-color;
  color: $color;
  border: none;
  outline: none;
  height: $height;
    // &:focus {
    //   box-shadow: $shadow;
    // }
}
