// color pallette
// ================== //
// deep blue
$color-main: #6B4028;

// deep blue 60% transparent
 $color-main-light: lighten($color-main, 10%);

// burnt turd
$color-text-dark: #603030;

// light cream tan
$color-text-light: #d8c0a8;

// cream
$color-link: #CAC4A2;

// cream 60% transparent
$color-link-active: rgba($color-link, .6);

// purple brick
$color-button-dark: $color-link * 2 ;

//gray
$color-button-light: darken($color-button-dark, 75%);

// ====================== //

// sizes


$width-mobile: 100%;

$width-medium-up: 33.33%;

// ==================== //


// border styling

$radius: 3px;

$color-main-border: 2px inset $color-main-light;

$shadow: 2px -1px 0px 1px $color-button-light;


// @media vars

$media_medium: unquote('screen and (min-width: 735px)');

$media_large: unquote('screen and (min-width: 915px)');

// ================== //
